#  Игнор файлы с секретными данными
*.env
number.env

# Игнор файлы и папки окружения
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.tmp
*.bak

# Игнорируем виртуальное окружение
venv/
.env/

# Файлы IDE и редакторов
.vscode/
.idea/
